{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
{%block more_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block page_header %}

{% endblock %}


{% block content %}
<div class="overlay"></div>
<main>
    {% for entry in entries %}
    {% if entry.section %}
    <section>
        <div class="welcome text-center">
            {% if entry.section %} <h2>{{ entry.section }} </h2>{% endif %}
            {% if entry.heading1 %} <h3 class="text-white">{{ entry.heading1 }} </h3>{% endif %}
            {% if entry.heading2 %} <h3 class="text-white">{{ entry.heading2 }} </h3>{% endif %}
            {% if entry.heading3 %} <h3 class="text-white">{{ entry.heading3 }} </h3>{% endif %}
            {% if entry.blockquote %} <blockquote class="blockquote">{{ entry.blockquote }} </blockquote>{% endif %}
        </div>
        <div class="column text-white md-12" style="justify-content: center; {% if section.backgroundcolor %} background-color: {{ section.backgroundcolor }}; {% endif %} {% if section.textcolor %} color: {{ section.textcolor }}; {% endif %} {% if section.paddingleft %} padding-left: {{ section.paddingleft }}; {% endif %} {% if section.paddingright %} padding-right: {{ section.paddingright }}; {% endif %}">
            <div class="column text-justify col-md-8 col-sm-12">
                {% if entry.startercontent %} <p class="py-2 lead">{{ entry.startercontent }}</p> {% endif %}
                {% if entry.maincontent %}<h4 class="textshadow">{{ entry.maincontent }} </h4>{% endif %}
                {% if entry.bulletpoint1 %}
                <ul>
                    <li>{{ entry.bulletpoint1 }} </li>{% endif %}
                    {% if entry.bulletpoint2 %} <li>{{ entry.bulletpoint2 }} </li>{% endif %}
                    {% if entry.bulletpoint3 %} <li>{{ entry.bulletpoint3 }} </li> {% endif %}
                    {% if entry.bulletpoint4 %} <li>{{ entry.bulletpoint4 }} </li> {% endif %}
                    {% if entry.bulletpoint5 %} <li>{{ entry.bulletpoint5 }} </li> {% endif %}
                    {% if entry.bulletpoint1 %}
                </ul>{% endif %}
                {% if entry.endcontent %}<h4><strong>{{ entry.endcontent }}</strong></h4>{% endif %}
            </div>
            <div class="column text-center">
                <h4>
                    <a href="{% url 'products' %}" class="bottom-space shop-now-button btn btn-md red-btn brounded-0 text-uppercase py-3 glow">Shop Products</a>
                </h4>
            </div>
    </section>

    {% else %}

    <div class="container">

        <div class="welcome text-center">
            {% if entry.heading1 %} <h2>{{ entry.heading1 }}</h2>{% endif %}

            {% if entry.heading2 %} <h3 class="text-white">{{ entry.heading2 }} </h3>{% endif %}
            {% if entry.heading3 %} <h3 class="text-white">{{ entry.heading3 }} </h3>{% endif %}
            {% if entry.blockquote %} <blockquote class="blockquote">{{ entry.blockquote }} </blockquote>{% endif %}
        </div>
        <div class="column text-white md-12">
            <div class="column text-justify col-md-8 col-sm-12">
                {% if entry.startercontent %} <p class="py-2 lead">{{ entry.startercontent }}</p> {% endif %}
                {% if entry.maincontent %}<h4 class="textshadow">{{ entry.maincontent }} </h4>{% endif %}
                {% if entry.bulletpoint1 %}
                <ul>
                    <li>{{ entry.bulletpoint1 }} </li>{% endif %}
                    {% if entry.bulletpoint2 %} <li>{{ entry.bulletpoint2 }} </li>{% endif %}
                    {% if entry.bulletpoint3 %} <li>{{ entry.bulletpoint3 }} </li> {% endif %}
                    {% if entry.bulletpoint4 %} <li>{{ entry.bulletpoint4 }} </li> {% endif %}
                    {% if entry.bulletpoint5 %} <li>{{ entry.bulletpoint5 }} </li> {% endif %}
                    {% if entry.bulletpoint1 %}
                </ul>{% endif %}
                {% if entry.endcontent %}<h4><strong>{{ entry.endcontent }}</strong></h4>{% endif %}
            </div>
            <div class="column text-center">
                <h4>
                    <a href="{% url 'products' %}" class="bottom-space shop-now-button btn btn-md red-btn rounded-0 text-uppercase py-3 glow">Shop Products</a>
                </h4>
            </div>
        </div>
    </div>

    </div>
    {% endif %}

    {% endfor %}


</main>
{% endblock %}