{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Welcome to ACME Flydressers
            </h1>
            <div class="my-5">
                <p>Approaching half a century of dressing Trout, Atlantic Salmon, Large Mouth Bass and Saltwater flies, our Ethos is "Quality in Excellence".
                </p>
                <p>We tie flies to catch fish not flyfishers. Our approach to your success is simple:
                    <ul>
                        <li>The Highest quality materials available
                        </li>
                        <li>The Best practice tying techniques
                        </li>
                        <li>The most Efffective business model enabling low overheads and affordable prices
                        </li>
                    </ul>
                    We tie flies that enhance your confidence... the catching is up to you!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}