{% extends "base.html" %}
{% load static %}

<!doctype html>
<html lang="en">

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="my-auto">
            <h1 class="entry-title">Welcome to ACME Flydressers </h1>
            <div class="row h-100 text-justify text-white bg-black">
                <p class="row h-100">Approaching half a century of dressing Trout, Atlantic Salmon, Large Mouth Bass and Saltwater flies, our ethos is Quality in Excellence.
                </p>
                <h2 class="row h-100">We tie flies to catch fish not flyfishers</h2>
                <h3 class="row h-100">Our approach to your success is simple, use:</h3>
                <p class="row h-100">
                    <ul class="row h-100">
                        <li>The Highest Quality materials available</li>
                        <li>The Best Practice tying techniques</li>
                        <li>The most Effective Business Model, enabling low overheads and affordable prices</li>
                    </ul>
                </p>
                <p>We tie flies that enhance your confidence... the catching is up to you!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}