{% extends "base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
{%block more_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block page_header %}
<div class="container header">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<main class="main">
    {% block content %}
    <div class="overlay h-100 main">
        <div class="container h-100 ">
            <div class="welcome text-center">
                <h1 class="text-white">Contact Us</h1>

                <h4 class="py-2">If you would like to contact us, or would like to request a customised product. <br></h4>
            </div>

            <div class="column text-white md-12">
                <div class="column text-justify col-md-8 col-sm-12 offset-md-2 offset-sm-0 offset-lg-3">
                    <h4 class="textshadow">We tie flies to catch fish not flyfishers.</h4>
                    <h4>Our approach to your success is simple, use: </h4>
                    Form goes here
                    <h4>We tie flies that enhance your confidence... the catching is up to you!</h4>
                </div>
                <div class="column text-center">
                    <h4>
                        button goes here
                    </h4>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
</main>