body {
    height: calc(100vh - 164px);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255) !important;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.header {
    height: 100x;
}

.darkoverlay {
    background-color: rgba(0, 0, 0, 0.63);
    flex: 1;
    height: 100vh;
}

main {
    flex: 1;
}

.order-history {
    max-height: 550px;
    /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #857a3b;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #aab7c4;
}

#id_default_country option:first-child {
    color: #4c4c4c;
}


button,
.red-btn,
.btn-sm,
.btn-lg {
    background-color: rgb(122, 103, 55) !important;
    color: rgb(182, 204, 194) !important;
    font-weight: 400 !important;
    border: 2px solid rgb(163, 159, 118) !important;
    padding: 7px !important;
    vertical-align: middle !important;
}

button:hover,
.red-btn:hover,
.btn-sm:hover,
.btn-lg:hover {
    background: white !important;
    color: black !important;
    font-weight: 400 !important;
    border: 2px solid red !important;
    padding: 7px !important;
    vertical-align: middle !important;
}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    background: url('/media/footer.jpg') no-repeat bottom right fixed;
    background-size: constrain;
    padding: 5px 0;
    margin-top: 50px;
    justify-content: center;
    font-size: 0.9em;
    position: fixed;
}