{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block more_css %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


<main class="main">
    {% block content %}
    <section id="productsection" class="center">
        <div class="container mb-2">
            <div class="row">
                <div class="col">

                    <h2 class="logo-font mb-4 text-center my-2">Your Shopping Basket</h2>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% if basket_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                {% include "basket/total-in-basket.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "basket/basket-buttons.html" %}
                                <p class="text-muted mb-5">Your Basket Contents:</p>
                            </div>
                        </div>
                        {% for item in basket_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "basket/product-image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "basket/product-detail.html" %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0 text-white">Price per Item: £{{ item.product.price }}</p>
                                <p><strong>Subtotal: </strong>£{{ item.product.price | subtotal_sum:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "basket/product-quantity-form.html" %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="btt-button shadow-sm rounded-0">
                            <a class="d-flex h-100 button-top">
                                <i class=" fas fa-arrow-up text-white mx-auto my-auto"></i>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class=" text-white">
                                <tr>
                                    <th scope="col">Product Details</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% include "basket/product-image.html" %}
                                </td>
                                <td class="py-3">
                                    {% include "basket/product-detail.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0 text-white">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "basket/product-quantity-form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0 text-white">£{{ item.product.price | subtotal_sum:item.quantity }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "basket/total-in-basket.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "basket/basket-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% else %}
                    <p class="lead mb-5 text-white">Your basket is empty.</p>
                    <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0 btn-lg backtobrowse">
                        <span class="icon">
                            <i class="fas fa-chevron-left text-white"></i>
                        </span>
                        <span class="text-uppercase text-white">Back to Shop</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</main>

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/script_product_add_quantity_update.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {

        var form = $(this).prev('.update-form');
        form.submit();

    })


    // delete item and reload on click

    $('.delete-item').click(function(e) {

        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];
        var url = `/basket/delete_from_basket/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })

    $('.button-top').click(function(e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}