html {
    height: 100%;
}

i {
    color: black;
}

.logo {
    height: 90px;
    width: auto;
    display: inline !important;
}

header {
    height: 164px;
}

body {
    height: calc(100vh - 164px);
    color: rgb(49, 49, 49);
    font-family: 'Raleway', sans-serif;
}

.logo-text {
    font-family: 'Oswald';
    font-size: 1.5rem;
    color: black;
    display: inline !important
}

.nav-link * {
    color: black;
}

hr {
    border-bottom: solid 1px;
    border-color: red;
}

.intro-text {
    color: white;
    width: 100%;
    padding: 20px 35px;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.637);
}

.textshadow {
    text-shadow: rgba(0, 0, 0, 0.575) 0px 0px 4px !important;
}

h2 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h2 a:hover {
    font-size: 1.8rem;
    font-weight: 800;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.white-btn {
    background: white;
    color: black;
    border: 1px solid white;
    padding-bottom: 50px;
}

.white-btn:hover {
    background: black;
    color: white;
    border: 1px solid white;
    padding-bottom: 50px;
}

.red-btn {
    background: black;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    padding-bottom: 50px;
}

.red-btn:hover {
    background: red;
    color: white;
    font-weight: 700;
    border: 1px solid red;
    padding-bottom: 50px;
}

h1 {

    margin: 0 50px;
}

.signup,
.login,
.logout {
    margin: 25px 50px;
}

/* ==================================== */


/*                                      */


/*            Media Queries             */


/*                                      */


/* ==================================== */


/* Extra Large screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #

    /* Slightly larger container on xl screens */
    @media (min-width: 1200px) {
        .container {
            max-width: 80%;
        }
    }

    /* Allauth form formatting */

    .allauth-form-inner-content p {
        margin-top: 1.5rem;
        /* mt-4 */
        color: #6c757d;
        /* text-secondary */
    }

    .allauth-form-inner-content input {
        border-color: #000;
        border-radius: 0;
    }

    .allauth-form-inner-content label:not([for='id_remember']) {
        display: none;
    }

    .allauth-form-inner-content input::placeholder {
        color: #aab7c4;
    }

    .allauth-form-inner-content button,
    .allauth-form-inner-content input[type='submit'] {
        /* btn */
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #000;
        border: 1px solid #000;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;

        /* standard bootstrap btn transitions */
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .allauth-form-inner-content button:hover,
    .allauth-form-inner-content input[type='submit']:hover {
        color: #fff;
        background-color: #222;
        border-color: #222;
    }

    .allauth-form-inner-content a {
        color: #17a2b8;
        /* text-info */
    }

    /* Product Form */

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .custom-checkbox .custom-control-label::before {
        border-radius: 0;
        border-color: #777777;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #4d4d4d;
        border-color: #777777;
        border-radius: 0;
    }


    /* fixed top navbar only on medium and up */
    @media (min-width: 992px) {
        .fixed-top-desktop-only {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        .header {
            padding-top: 164px;
        }
    }

    /* pad the top a bit when navbar is collapsed on mobile */
    @media (max-width: 991px) {
        .header {
            padding-top: 116px;
        }

        body {
            height: calc(100vh - 116px);
        }

        .display-4.logo-font.text-black {
            font-size: 2rem;
        }

        .nav-link {
            padding: 0.15rem;
        }

        .nav-link i.fa-lg {
            font-size: 1rem;
        }

        .navbar-toggler {
            padding: .6rem .6rem;
            font-size: 1rem;
        }

        #delivery-alert h4 {
            font-size: .9rem;
        }

        .btn.btn-outline-black.rounded-0,
        .btn.btn-black.rounded-0 {
            padding: .375rem .375rem;
        }

        .btn.btn-outline-black.rounded-0.btn-lg,
        .btn.btn-black.rounded-0.btn-lg {
            padding: .375rem .375rem;
            font-size: .75rem;
        }

        .increase-quantity,
        .decrease-quantity {
            padding: .25rem .5rem !important;
        }
    }

    ;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #4d4d4d;
    border-color: #777777;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-alert h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increase-quantity,
    .decrease-quantity {
        padding: .25rem .5rem !important;
    }
}