html {
    height: 100%;
}

body {
    background-image: url('/media/frontpage2.jpg');
    height: calc(100vh - 164px);
    color: rgb(24, 57, 224);
    font-family: 'Lato';
}

.welcome {
    background-color: rgba(0, 0, 0, 0.63);
}

.logo-text {
    font-family: 'Oswald';
    font-size: 1.5rem;
    color: black;
}

hr {
    border-bottom: solid 1px;
    border-color: red;
}

h1 {
    color: rgb(163, 0, 0);
    font-size: 1.2rem;
}