/* Stylesheet for base template for site */

html {
    height: 100%;
}

.logo {
    height: 90px;
    width: auto;
    display: inline !important;
}

h2.logo-text {
    font-family: 'Oswald' !important;
    font-size: 1.2rem;
    color: black;
    display: inline !important
}

header {
    height: 116px;
}

body {
    background-color: rgb(34, 34, 34);
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    color: rgb(255, 255, 255) !important;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 65px;
}


/*  Navigation */

.dropdown-item:hover *,
.nav-item:hover * {
    color: rgb(88, 88, 88);
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link *,
.dropdown *,
.nav-item * {
    color: black;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}


.dropdown-item {
    color: black;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active:hover {
    background-color: rgb(139, 132, 114);
    color: white;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(122, 103, 55);
}




/* Icons, Links and Button Styles */

i {
    color: black;
}

i.fa-search {
    color: rgb(168, 168, 168);
}

a {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(170, 158, 103);
}

a:hover {
    text-decoration: none;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(163, 147, 3);
}


h1 {

    margin: 0 50px;
}

h2 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h2 a:hover {
    font-size: 1.2rem;
    font-weight: 500;
    color: red;
    cursor: pointer;
    text-decoration: none;
}



.white-btn {
    background: white;
    color: black;
    border: 1px solid white;
    padding-bottom: 50px;
}

.white-btn:hover {
    background: black;
    color: white;
    border: 1px solid white;
    padding-bottom: 50px;
}

.btn.btn-outline-black,
a.btn.btn-outline-black rounded-0 {
    background-color: rgb(202, 202, 202) !important;
    color: rgb(99, 99, 99) !important;
    font-weight: 400 !important;
    border: 2px solid rgb(161, 161, 161) !important;
    padding: 7px !important;
    vertical-align: middle !important;
}

.btn.btn-outline-black:hover,
a.btn-outline-black:hover {
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
    font-weight: 400 !important;
    border: 2px solid red !important;
    padding: 7px !important;
    vertical-align: middle !important;
}

button,
.red-btn,
.btn-sm,
.btn-lg,
.btn-outline-black {
    background-color: rgb(122, 103, 55) !important;
    color: rgb(182, 204, 194) !important;
    font-weight: 400 !important;
    border: 2px solid rgb(163, 159, 118) !important;
    padding: 7px !important;
    vertical-align: middle !important;
}

button:hover,
.red-btn:hover,
.btn-sm:hover,
.btn-lg:hover,
.btn-outline-black:hover {
    background: white !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 400 !important;
    border: 2px solid red !important;
    padding: 7px !important;
    vertical-align: middle !important;
}

button.qty-btn {
    background: black !important;
    color: white !important;
    border: 1px solid rgb(255, 255, 255) !important;
    padding: 4px !important;
    margin-bottom: unset !important;
}

button.qty-btn:hover {
    background: white !important;
    color: rgb(155, 155, 155) !important;
    padding: 4px !important;
    margin-bottom: unset !important;
}


button.btn-search,
.btn-search {
    background: black !important;
    color: white !important;
    border: 1px solid rgb(212, 212, 212) !important;
    padding: 0 4px !important;

}

button.btn-search:hover,
.btn-search {
    background: white !important;
    color: rgb(131, 131, 131) !important;
    border: 1px solid rgb(212, 212, 212) !important;
    padding: 0 4px !important;
}


.backtobrowse,
.backtobrowse i,
a.update-link,
.btn {
    color: rgb(179, 179, 179) !important;
    cursor: pointer;
}

.backtobrowse:hover,
.backtobrowse i:hover,
.btn:hover,
a.update-link:hover,
.btn:hover {
    color: rgb(133, 132, 132) !important;
    cursor: pointer;
}


button:disabled {
    background-color: rgb(53, 53, 53) !important;
    border-color: rgb(61, 61, 61) !important;
    color: rgb(61, 61, 61) !important;
}


.top-button,
.button-top {
    height: 41px;
    width: 41px;
    position: fixed;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: white;
    color: black !important;
    bottom: 15px;
    right: 15px;
    z-index: 1500;
    cursor: pointer;
}

.top-button:hover,
.button-top:hover {
    height: 41px;
    width: 41px;
    position: fixed;
    border: 2px solid rgb(158, 0, 0) !important;
    border-radius: 25px;
    background-color: white;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 1500;
}


.signup,
.login,
.logout {
    margin: 25px 50px;
}


/* Content Styling */



hr {
    border-bottom: 1px !important;
    border-color: rgba(116, 114, 114, 0.562) !important;
}

.intro-text {
    color: white;
    width: 100%;
    padding: 20px 35px;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.637);
}

.textshadow {
    text-shadow: rgba(0, 0, 0, 0.575) 0px 0px 4px !important;
}

ul li {
    font-size: 1 rem;
}

div.order-history.table-responsive {
    margin-top: 50px;
}


/* Footer */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    background: url('/media/footer.jpg') no-repeat bottom right;
    background-size: cover;
    padding: 5px 0;
    margin-top: 50px;
    justify-content: center;
    font-size: 0.9em;
    position: fixed;
}

.copyright {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: #7a7667;
    font-size: 0.9em;
}


/* Allauth form formatting */

.aullauth {
    margin-top: 2rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: rgb(122, 103, 55);
    /* text-info */
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    background: rgb(122, 103, 55);
    color: rgb(182, 204, 194);
    font-weight: 500;
    border: 2px solid rgb(163, 159, 118);
    padding: 7px;
    cursor: pointer;
}

.btn-file:hover {
    position: relative;
    overflow: hidden;
    background: white;
    color: black;
    font-weight: 500;
    border: 2px solid red;
    padding: 7px;
    cursor: pointer;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: darkgray;
}




/* STRIPE */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box !important;
    height: 40px !important;
    padding: 10px 12px !important;
    border: 1px solid transparent !important;
    border-radius: 0px !important;
    background-color: white !important;
    box-shadow: 0 1px 3px 0 #e6ebf1 !important;
    -webkit-transition: box-shadow 150ms ease !important;
    transition: box-shadow 150ms ease !important;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #857a3b !important;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4 !important;
}

.fieldset-label {
    position: relative !important;
    right: .5rem !important;
}

#payment-form .form-control,
#card-element {
    color: #000 !important;
    border: 1px solid #d1d1d1 !important;
}

select,
select option {
    color: #bebebe !important;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
    display: none !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #857a3b !important;
    z-index: 9999 !important;
}

.loading-spinner {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
    height: 100% !important;
    color: #857a3b !important;
}

.ElementsApp .InputElement {
    color: white !important;
}

/* IMAGE VIEW MODAL */

#imgView {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#imgView:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #857a3b;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #9b9055;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 799px) {
    .modal-content {
        width: 100%;
    }
}



/* ==================================== */


/*                                      */


/*            Media Queries             */


/*                                      */


/* ==================================== */


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
        height: 80px;
    }

    main {
        flex: 1;
        padding-bottom: 65px;
    }


    /* Allauth form formatting */

    .allauth-form-inner-content p {
        margin-top: 1.5rem;
        /* mt-4 */
        color: #6c757d;
        /* text-secondary */
    }

    .allauth-form-inner-content input {
        border-color: #000;
        border-radius: 0;
    }

    .allauth-form-inner-content label:not([for='id_remember']) {
        display: none;
    }

    .allauth-form-inner-content input::placeholder {
        color: #aab7c4;
    }

    .allauth-form-inner-content button,
    .allauth-form-inner-content input[type='submit'] {
        /* btn */
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #000;
        border: 1px solid #000;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;

        /* standard bootstrap btn transitions */
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .allauth-form-inner-content button:hover,
    .allauth-form-inner-content input[type='submit']:hover {
        color: #fff;
        background-color: #222;
        border-color: #222;
    }

    .allauth-form-inner-content a {
        color: rgb(122, 103, 55);
        /* text-info */
    }


    /* Product Form */

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .custom-checkbox .custom-control-label::before {
        border-radius: 0;
        border-color: #dc3545;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #dc3545;
        border-color: #dc3545;
        border-radius: 0;
    }
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container,
    .container {
        margin-top: 125px;
    }

    main {
        flex: 1;
        padding-bottom: 65px;
    }

    div.allauth-form-inner-content {
        margin-top: 170px;
        /* mt-4 */
        color: #6c757d;
        /* text-secondary */
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
        margin-bottom: 50px;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
        margin-bottom: 50px;
    }

    .btn.btn-outline-black.rounded-0:hover,
    .btn.btn-black.rounded-0:hover {
        padding: .375rem .375rem;
        margin-bottom: 50px;
    }

    .btn.btn-outline-black.rounded-0.btn-lg:hover,
    .btn.btn-black.rounded-0.btn-lg:hover {
        padding: .375rem .375rem;
        font-size: .75rem;
        margin-bottom: 50px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    main {
        flex: 1;
        padding-bottom: 65px;
    }

    body {
        height: 100vh;
        padding-top: 30px;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
        margin-bottom: 50px;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
        margin-bottom: 50px;
    }


    .btn.btn-outline-black.rounded-0:hover,
    .btn.btn-black.rounded-0:hover {
        padding: .375rem .375rem;
        margin-bottom: 50px;
    }

    .btn.btn-outline-black.rounded-0.btn-lg:hover,
    .btn.btn-black.rounded-0.btn-lg:hover {
        padding: .375rem .375rem;
        font-size: .75rem;
        margin-bottom: 50px;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (min-width: 400px) and (max-width: 600) {
    .header-container {
        padding-top: 116px;
    }

    .copyright {
        font-size: 0.9em !important;
        color: #64625a;
    }
}

@media (min-width:250) and (max-width: 399px) {
    .header-container {
        padding-top: 90px;
        margin-left: 20px;
    }

    main {
        flex: 1;
        padding-bottom: 65px;
    }

    body {
        height: 100vh;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .copyright {
        font-size: 0.9em !important;
        color: #64625a;
    }

    footer {

        position: relative;
    }

    #productsection {
        width: 90%;
        font-size: 0.9em;
    }

    #productsection {
        margin-bottom: 65px;
    }

    .bottom-space {
        margin-botton: 1.2rem;
    }

    #productsection {
        padding: 25px 15px 50px 15px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}


@media (min-width: 150px) and (max-width: 400px) {
    .header-container {
        padding-top: 80px;
    }

    main {
        flex: 1;
        padding-bottom: 65px;
    }

    body {
        height: 100vh;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    footer {

        position: relative;
    }

    #productsection {
        width: 90%;
        font-size: 0.9em;
        margin-top: 65px;
    }

    #productsection {
        margin-bottom: 65px;
    }

    #productsection {
        padding: 25px 15px 50px 15px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}