body {
    background-size: cover !important;
    height: 100% !important;
    color: rgb(209, 209, 209) !important;
    font-family: 'Raleway', sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
}

span.fa-spin i {
    color: white !important;
}

table {
    color: white !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.63) !important;
    flex: 1 !important;
    height: 100vh !important;
}