html {
    height: 100%;
}

body {
    background: url('/media/frontpage2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}

.welcome {}

h1,
h2,
h3,
h4,
h5 {
    display: block;
    padding-top: 25px;
}

h1 {
    color: red;
    font-weight: 800;
}

h2 {
    font-size: 1.8rem;
    font-weight: 800;
}


h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem !important;
}

.white-btn {
    background: white;
    color: black;
    border: 1px solid white;
    padding-bottom: 50px;
}

.white-btn:hover {
    background: black;
    color: white;
    border: 1px solid white;
    padding-bottom: 50px;
}

.red-btn {
    background: black;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    padding-bottom: 50px;
}

.red-btn:hover {
    background: red;
    color: black;
    font-weight: 700;
    border: 1px solid red;
    padding-bottom: 50px;
}

.glow:hover {
    box-shadow: rgba(255, 255, 255, 0.253) 0 0 5px 5px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.63);
    width: 100vw;
    height: calc(100vh + 164px);
}