html {
    height: 100%;
}

body {
    background: url('/media/frontpage2.jpg') no-repeat center center fixed;
    background-color: rgba(0, 0, 0, 0.521);
    background-size: cover;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
    display: block;
    padding-top: 25px;
}

h1 {
    color: rgb(226, 226, 226);
    font-weight: 800;
}

h2 {
    font-size: 1.8rem;
    font-weight: 800;
}


h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem !important;
}

.welcome {
    padding-top: 65px;
    padding-bottom: 45px;
}

div.center {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 25%;
}

.white-btn {
    background: white;
    color: black;
    border: 1px solid white;
    padding-bottom: 50px;
}

.white-btn:hover {
    background: black;
    color: white;
    border: 1px solid white;
    padding-bottom: 50px;
}

.red-btn {
    background: rgb(122, 103, 55);
    color: rgb(195, 211, 206);
    font-weight: 700;
    border: 2px solid rgb(163, 159, 118);
    padding-bottom: 10px;
}

.red-btn:hover {
    background: white;
    color: black;
    font-weight: 700;
    border: 2px solid red;
    padding-bottom: 10px;
}

.glow:hover {
    box-shadow: rgba(255, 255, 255, 0.253) 0 0 5px 5px;
}


footer {
    width: 100%;
    bottom: 0;
    left: 0;
    height: 150px !important;
    background-image: unset;
    background-color: black;
    padding: 25px 0;
    margin-top: 50px;
    font-size: 0.9em;
}

/* ==================================== */


/*                                      */


/*            Media Queries             */


/*                                      */


/* ==================================== */


/* Extra Large screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
        margin-top: 150px;
    }
}

@media (min-width: 991px) {
    .header {
        padding-top: 150px !important;
    }
}

@media (max-width: 991px) {
    .header {
        padding-top: 80px !important;
    }
}


@media (min-width: 250) and (max-width: 499px) {
    body {
        background: url('/media/frontpage2.jpg') no-repeat right center fixed;
        background-size: cover;
        color: rgb(255, 255, 255);
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        padding-top: 80px;
    }

    .welcome {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .copyright {
        font-size: 0.7em !important;
        color: #4d4a41;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }

    .carousel-indicators {
        display: none !important;
    }
}