body {
    background: url('/media/frontpage1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255) !important;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.header {
    height: 164x;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.63);
    flex: 1;
    height: 100vh;
}

main {
    flex: 1;
    padding-bottom: 50px;
}

.order-history {
    max-height: 550px;
    /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #857a3b;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #aab7c4;
}

#id_default_country option:first-child {
    color: #4c4c4c;
}


.red-btn,
button.red-btn {
    background: rgb(122, 103, 55);
    color: rgb(182, 204, 194);
    font-weight: 400;
    border: 2px solid rgb(163, 159, 118);
    padding: 10px;
    vertical-align: middle;
}

.red-btn:hover,
button.red-btn:hover {
    background: white;
    color: black;
    font-weight: 400;
    border: 2px solid red;
    padding: 10px;
    vertical-align: middle;
}