html {
    height: 100%;
}

body {
    background-image: unset !important;
    background-color: rgb(34, 34, 34);
    height: calc(100vh - 164px);
    font-family: 'Lato';
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(71, 71, 71) !important;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: red;
    display: block;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

#shopSlideshow {
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 100;
}

#shopSlideshow img {
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.63);
}

h2 {
    font-size: 1.75rem !important;
}

section#productsection {
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    background: url('/media/frontpage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 200px;
    width: 100vw;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.562);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    font-size: 0.9rem;
}

.badge-white {
    background-color: white;
}

.white-btn {
    background: white;
    color: black;
    border: 1px solid white;
    border-radius: 25px;
}

.white-btn:hover {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 25px;

}

.glow:hover {
    box-shadow: rgba(255, 255, 255, 0.253) 0 0 15px 10px;
}

.card {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0;
}

.tag-offer {
    background-color: white;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.offer {
    background-color: white;
    color: darkred;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.offer:hover {
    background-color: white;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

/* ==================================== */


/*                                      */


/*            Media Queries             */


/*                                      */


/* ==================================== */


/* Extra Large screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    .header {
        padding-top: 65px;
    }
}