<div class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'products' %}?category=wetflies" class="dropdown-item">Wet Flies</a>
                <a href="{% url 'products' %}?category=dryflies" class="dropdown-item">Dry Flies</a>
                <a href="{% url 'products' %}?category=nymphs" class="dropdown-item">Nymphs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="season-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Season
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="season-link">
                <a href="{% url 'products' %}?season=spring" class="dropdown-item">Spring</a>
                <a href="{% url 'products' %}?season=summer" class="dropdown-item">Summer</a>
                <a href="{% url 'products' %}?season=autumn" class="dropdown-item">Autumn</a>
                <a href="{% url 'products' %}?season=winter" class="dropdown-item">Winter</a>
                <a href="{% url 'products' %}?season=spring-summer" class="dropdown-item">Spring/Summer</a>
                <a href="{% url 'products' %}?season=autumn-winter" class="dropdown-item">Autumn/Winter</a>
                <a href="{% url 'products' %}?season=variety" class="dropdown-item">Variety</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="view-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="view-products-link">
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Categories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=specialoffer" class="dropdown-item">On Promotion</a>
            </div>
        </li>
    </ul>
</div>