body {
    background-size: cover !important;
    height: 100% !important;
    color: rgb(209, 209, 209) !important;
    font-family: 'Raleway', sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
}

span.fa-spin i {
    color: white !important;
}

table {
    color: white !important;
}

.darkoverlay {
    background-color: rgba(0, 0, 0, 0.63) !important;
    flex: 1 !important;
    height: 100vh !important;
}

StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #919191;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(150, 149, 88, 0.85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    background: url('/media/footer.jpg') no-repeat bottom right;
    background-size: cover;
    margin-top: 50px;
    justify-content: center;
    font-size: 0.9em;
    position: fixed;
}

.backtobrowse,
.backtobrowse i,
a.update-link,
.btn {
    color: rgb(179, 179, 179) !important;
    cursor: pointer;
}

.backtobrowse:hover,
.backtobrowse i:hover,
.btn:hover,
a.update-link:hover,
.btn:hover {
    color: rgb(133, 132, 132) !important;
    cursor: pointer;
}

main {
    flex: 1;
    padding-bottom: 65px;
}