{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
{%block more_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block page_header %}
{% endblock %}

<main class="main">
    {% block content %}
    <div class="overlay"></div>
    <div class="">
        <div class="container h-100 ">
            <div class="welcome text-center">
                <h1 class="text-white">Get in touch</h1>

                <h4 class="py-2">If you would like to contact us, or would like to request a customised product.</h4>
                <h4 class="py-2">Please fill in the form below, and we'll respond as soon as possible.</h4>
            </div>

            <div class="column text-white md-12">
                <div class="column text-justify col-md-12 col-sm-12 offset-sm-0 ">
                    <form action="{% url 'contact' %}" method="POST" id="contact_form" class="mt-6">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="float-right">
                            <button class="btn-red rounded-0" aria-label="submit form">
                                Email Us</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
</main>